<!DOCTYPE html>
<html lang="en" ng-app="contactsApp">
<head>
    <meta charset="UTF-8">
    <title>My Contacts App</title>
    <link href="public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <h1>This is my contacts app!</h1>
 <div class="container" ng-controller="ContactsCntrl" >
     {{name}}
 </div>

 <!--vendor libraries-->
<script src="public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="public/lib/angular/angular.min.js"></script>

 <!--application dependencies-->
 <script src="modules/core/client/app/config.js"></script>
 <script src="modules/core/client/app/init.js"></script>
 <script src="modules/core/client/core.client.module.js"></script>
 <script src="modules/core/client/controllers/core.client.controller.js"></script>
</body>
</html>