<div class="contacts-form-container" ng-controller="SaveCtrl">
    <form class="bs-example bs-example-form" data-example-id="input-group-sizing">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">First Name</span>
            <input class="form-control" placeholder="FirstName" aria-describedby="sizing-addon1"
                   ng-model="contact.firstName">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon2">Last Name</span>
            <input class="form-control" placeholder="LastName" aria-describedby="sizing-addon1"
                   ng-model="contact.lastName">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon3">Zip</span>
            <input class="form-control" placeholder="Area Zip" aria-describedby="sizing-addon1" ng-model="contact.zip">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon4">Email</span>
            <input class="form-control" placeholder="Email" aria-describedby="sizing-addon1"
                   ng-model="contact.email">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon5">Address</span>
            <input class="form-control" placeholder="Address" aria-describedby="sizing-addon5"
                   ng-model="contact.address">
        </div>
        <br>
        <button type="button" class="btn btn-default" ng-click="saveContact(contact)">Submit</button>
    </form>
</div>